# Compress JS/CSS/XML files
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript
</IfModule>

# Disallow listing directories and files
#Options -Indexes

# Disallow access to svn folders
<FilesMatch "\.svn/.*">
   order deny,allow
   deny from all
</FilesMatch>

# Disallow access to htaccess file
<Files .htaccess>
order deny,allow
deny from all
</Files>

# Rewrite Engine
<IfModule mod_rewrite.c>
RewriteEngine On


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

</IfModule>

